body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#scene-1 .background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("/Images/pexels-snow-white-884186.jpg") no-repeat center
    center / cover;
}
#scene-2 .background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("/Images/inside-cave.jpg") no-repeat center center / cover;
}
#scene-3 .background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("/Images/treasure.jpg") no-repeat center center / cover;
}

h1 {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 36px;
  color: white;
}

.cave {
  position: absolute;
  width: 150px;
  height: 100px;
  bottom: 20px;
  cursor: pointer;
}

#cave1 {
  left: 20px;
  background: url("/Images/jungle-cave.webp") no-repeat center center / cover;
}

#cave2 {
  right: 20px;
  background: url("/Images/jungle-cave.webp") no-repeat center center / cover;
}

.item {
  position: absolute;
  width: 80px;
  height: 80px;
  bottom: 20px;
  cursor: pointer;
}

#key,
#puzzle-key {
  left: 20px;
  background: url("/Images/key.jpg") no-repeat center center / cover;
}

#map,
#puzzle-map {
  left: calc(50% - 40px);
  background: url("/Images/map.jpg") no-repeat center center / cover;
}

#compass,
#puzzle-compass {
  right: 20px;
  background: url("/Images/compass.jpg") no-repeat center center / cover;
}
